target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.metals/
.bloop/
/project/metals.sbt

### Mac OS ###
.DS_Store

### Scala ###
.bsp/
/.idea
/project/project
/project/target
test_run_dir/

/generated
/genForTests
mnist_0_0.bmp
mnist_0_1.bmp
mnist_0_2.bmp
mnist_0_3.bmp
mnist_0_4.bmp
mnist_0_5.bmp
mnist_0_6.bmp
mnist_0_7.bmp
mnist_0_8.bmp
mnist_0_9.bmp
mnist_1_0.bmp
mnist_1_1.bmp
mnist_1_2.bmp
mnist_1_3.bmp
mnist_1_4.bmp
mnist_1_5.bmp
mnist_1_6.bmp
mnist_1_7.bmp
mnist_1_8.bmp
mnist_1_9.bmp
mnist_2_0.bmp
mnist_2_1.bmp
mnist_2_2.bmp
mnist_2_3.bmp
mnist_2_4.bmp
mnist_2_5.bmp
mnist_2_6.bmp
mnist_2_7.bmp
mnist_2_8.bmp
mnist_2_9.bmp
mnist_3_0.bmp
mnist_3_1.bmp
mnist_3_2.bmp
mnist_3_3.bmp
mnist_3_4.bmp
mnist_3_5.bmp
mnist_3_6.bmp
mnist_3_7.bmp
mnist_3_8.bmp
mnist_3_9.bmp
mnist_4_0.bmp
mnist_4_1.bmp
mnist_4_2.bmp
mnist_4_3.bmp
mnist_4_4.bmp
mnist_4_5.bmp
mnist_4_6.bmp
mnist_4_7.bmp
mnist_4_8.bmp
mnist_4_9.bmp
mnist_5_0.bmp
mnist_5_1.bmp
mnist_5_2.bmp
mnist_5_3.bmp
mnist_5_4.bmp
mnist_5_5.bmp
mnist_5_6.bmp
mnist_5_7.bmp
mnist_5_8.bmp
mnist_5_9.bmp
mnist_6_0.bmp
mnist_6_1.bmp
mnist_6_2.bmp
mnist_6_3.bmp
mnist_6_4.bmp
mnist_6_5.bmp
mnist_6_6.bmp
mnist_6_7.bmp
mnist_6_8.bmp
mnist_6_9.bmp
mnist_7_0.bmp
mnist_7_1.bmp
mnist_7_2.bmp
mnist_7_3.bmp
mnist_7_4.bmp
mnist_7_5.bmp
mnist_7_6.bmp
mnist_7_7.bmp
mnist_7_8.bmp
mnist_7_9.bmp
mnist_8_0.bmp
mnist_8_1.bmp
mnist_8_2.bmp
mnist_8_3.bmp
mnist_8_4.bmp
mnist_8_5.bmp
mnist_8_6.bmp
mnist_8_7.bmp
mnist_8_8.bmp
mnist_8_9.bmp
mnist_9_0.bmp
mnist_9_1.bmp
mnist_9_2.bmp
mnist_9_3.bmp
mnist_9_4.bmp
mnist_9_5.bmp
mnist_9_6.bmp
mnist_9_7.bmp
mnist_9_8.bmp
mnist_9_9.bmp
/templates
